img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

#map-page, #map-canvas {
    width: 100%;
    height: 100%;
    padding: 0;
}